REPORT CAMPAÑAS Sendinblue.json
{
    "name": "REPORT CAMPAÑAS Sendinblue (copy)",
    "flow": [
        {
            "id": 3,
            "module": "sendinblue:ListEmailCampaigns",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 539992
            },
            "mapper": {
                "type": "classic",
                "status": "sent",
                "startDate": "{{formatDate(now; \"2023-MM-01\")}}",
                "endDate": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                "limit": "1000"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "LaSoci-sendinblue",
                            "data": {
                                "scoped": "true",
                                "connection": "sendinblue2"
                            }
                        }
                    },
                    "expect": {
                        "type": {
                            "mode": "chose",
                            "label": "classic"
                        },
                        "status": {
                            "mode": "chose",
                            "label": "sent"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:sendinblue2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Type",
                        "validate": {
                            "enum": [
                                "classic",
                                "trigger"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status",
                        "validate": {
                            "enum": [
                                "suspended",
                                "archive",
                                "sent",
                                "queued",
                                "draft",
                                "inProcess"
                            ]
                        }
                    },
                    {
                        "name": "startDate",
                        "type": "date",
                        "label": "Start date"
                    },
                    {
                        "name": "endDate",
                        "type": "date",
                        "label": "End date"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "sendinblue:GetEmailCampaign",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 539992
            },
            "mapper": {
                "campaignId": "{{3.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300,
                    "name": "REPORT STATS CAMPAÑA"
                },
                "restore": {
                    "expect": {
                        "campaignId": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "sendinblue2"
                            },
                            "label": "LaSoci-sendinblue"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:sendinblue2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "campaignId",
                        "type": "select",
                        "label": "Campaign ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "sendinblue:GetList",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 539992
            },
            "mapper": {
                "id": "{{2.recipients.lists}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "LaSoci-sendinblue",
                            "data": {
                                "scoped": "true",
                                "connection": "sendinblue2"
                            }
                        }
                    },
                    "expect": {
                        "id": {
                            "mode": "edit"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:sendinblue2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "select",
                        "label": "List ID",
                        "mode": "edit",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 64,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 834,
                            "y": 536
                        }
                    }
                }
            ]
        },
        {
            "id": 35,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "variables": [
                    {
                        "name": "iphone",
                        "value": "{{2.statistics.statsByDevice.mobile.iPhone.uniqueViews}}"
                    },
                    {
                        "name": "android",
                        "value": "{{2.statistics.statsByDevice.mobile.androidMobile.uniqueViews}}"
                    },
                    {
                        "name": "ipad",
                        "value": "{{2.statistics.statsByDevice.tablet.appleIPad.uniqueViews}}"
                    },
                    {
                        "name": "androidtablet",
                        "value": "{{2.statistics.statsByDevice.tablet.androidTablet.uniqueViews}}"
                    },
                    {
                        "name": "windows",
                        "value": "{{2.statistics.statsByDevice.desktop.windows.uniqueViews}}"
                    },
                    {
                        "name": "mac",
                        "value": "{{2.statistics.statsByDevice.desktop.mac.uniqueViews}}"
                    },
                    {
                        "name": "otherSO",
                        "value": "{{2.statistics.statsByDevice.desktop.otherSystem.uniqueViews}}"
                    },
                    {
                        "name": "link",
                        "value": "{{if(contains(2.shareLink; \"https\"); 2.shareLink; )}}"
                    },
                    {
                        "name": "nombre lista envio",
                        "value": "{{11.name}}"
                    }
                ],
                "scope": "roundtrip"
            },
            "metadata": {
                "designer": {
                    "x": 899,
                    "y": 289
                },
                "restore": {
                    "expect": {
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        },
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "type": "array",
                        "label": "Variables",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Variable name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Variable value",
                                "type": "any"
                            }
                        ]
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "iphone",
                        "label": "iphone",
                        "type": "any"
                    },
                    {
                        "name": "android",
                        "label": "android",
                        "type": "any"
                    },
                    {
                        "name": "ipad",
                        "label": "ipad",
                        "type": "any"
                    },
                    {
                        "name": "androidtablet",
                        "label": "androidtablet",
                        "type": "any"
                    },
                    {
                        "name": "windows",
                        "label": "windows",
                        "type": "any"
                    },
                    {
                        "name": "mac",
                        "label": "mac",
                        "type": "any"
                    },
                    {
                        "name": "otherSO",
                        "label": "otherSO",
                        "type": "any"
                    },
                    {
                        "name": "link",
                        "label": "link",
                        "type": "any"
                    },
                    {
                        "name": "nombre lista envio",
                        "label": "nombre lista envio",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 540004
            },
            "mapper": {
                "base": "appboUbs60npt1ogu",
                "view": "viwYRCGiINJFZkvIK",
                "table": "SENDINBLUE REPORT",
                "formula": "{Campaign ID}={{2.id}}",
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1193,
                    "y": 291
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "LaSoci - reports EMAIL"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Grid view"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "SENDINBLUE REPORT"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "Nemeda Airtable"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Campaign ID",
                        "type": "number",
                        "label": "Campaign ID"
                    },
                    {
                        "name": "device_mac_unique_view",
                        "type": "number",
                        "label": "device_mac_unique_view"
                    },
                    {
                        "name": "device_iphone_unique_view",
                        "type": "number",
                        "label": "device_iphone_unique_view"
                    },
                    {
                        "name": "device_android_unique_view",
                        "type": "number",
                        "label": "device_android_unique_view"
                    },
                    {
                        "name": "device_ipad_unique_view",
                        "type": "number",
                        "label": "device_ipad_unique_view"
                    },
                    {
                        "name": "device_androidtablet_unique_view",
                        "type": "number",
                        "label": "device_androidtablet_unique_view"
                    },
                    {
                        "name": "device_windows_unique_view",
                        "type": "number",
                        "label": "device_windows_unique_view"
                    },
                    {
                        "name": "device_other_unique_view",
                        "type": "number",
                        "label": "device_other_unique_view"
                    },
                    {
                        "name": "devices_desktop_unique_view",
                        "type": "text",
                        "label": "devices_desktop_unique_view"
                    },
                    {
                        "name": "devices_mobile_unique_view",
                        "type": "text",
                        "label": "devices_mobile_unique_view"
                    },
                    {
                        "name": "AB testing",
                        "type": "boolean",
                        "label": "AB testing"
                    },
                    {
                        "name": "Sent at best time",
                        "type": "boolean",
                        "label": "Sent at best time"
                    },
                    {
                        "name": "IDIOMA",
                        "type": "text",
                        "label": "IDIOMA"
                    },
                    {
                        "name": "Sending date",
                        "time": false,
                        "type": "date",
                        "label": "Sending date"
                    },
                    {
                        "name": "Mes any",
                        "type": "text",
                        "label": "Mes any"
                    },
                    {
                        "name": "Campaign Name",
                        "type": "text",
                        "label": "Campaign Name"
                    },
                    {
                        "name": "link campanya",
                        "type": "url",
                        "label": "link campanya"
                    },
                    {
                        "name": "Lista envio",
                        "type": "text",
                        "label": "Lista envio"
                    },
                    {
                        "name": "Subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "Sent",
                        "type": "number",
                        "label": "Sent"
                    },
                    {
                        "name": "CLICK RATE",
                        "type": "text",
                        "label": "CLICK RATE"
                    },
                    {
                        "name": "Views RATE",
                        "type": "text",
                        "label": "Views RATE"
                    },
                    {
                        "name": "Delivered",
                        "type": "number",
                        "label": "Delivered"
                    },
                    {
                        "name": "Clickers",
                        "type": "number",
                        "label": "Clickers"
                    },
                    {
                        "name": "Unique clicks",
                        "type": "number",
                        "label": "Unique clicks"
                    },
                    {
                        "name": "Viewed",
                        "type": "number",
                        "label": "Viewed"
                    },
                    {
                        "name": "Unique views",
                        "type": "number",
                        "label": "Unique views"
                    },
                    {
                        "name": "Trackable views",
                        "type": "number",
                        "label": "Trackable views"
                    },
                    {
                        "name": "Unsubscriptions",
                        "type": "number",
                        "label": "Unsubscriptions"
                    },
                    {
                        "name": "Hard bounces",
                        "type": "number",
                        "label": "Hard bounces"
                    },
                    {
                        "name": "Soft bounces",
                        "type": "number",
                        "label": "Soft bounces"
                    }
                ]
            }
        },
        {
            "id": 38,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1477,
                    "y": 296
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 45,
                            "module": "airtable:upsertRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 540004
                            },
                            "filter": {
                                "name": "YA EXISTE",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.`__IMTLENGTH__`}}",
                                            "o": "number:greater",
                                            "b": "0"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appboUbs60npt1ogu",
                                "typecast": false,
                                "useColumnId": false,
                                "table": "SENDINBLUE REPORT",
                                "recordId": "{{10.id}}",
                                "record": {
                                    "fld8JISwK3JhC0Rhr": "{{2.id}}",
                                    "fldjPTBgi0Z43lUVz": "{{35.mac}}",
                                    "fldK7L8VSBiefgG2J": "{{35.iphone}}",
                                    "fldXTziJU7C1jcxQT": "{{35.android}}",
                                    "flduS37Ma404JcpBa": "{{35.ipad}}",
                                    "fldvdtuT7VaR9OOPI": "{{35.androidtablet}}",
                                    "fldiDIqPMA7NT16FY": "{{35.windows}}",
                                    "fldKO3HczdzfeYbXR": "{{35.otherSO}}",
                                    "fldFngjaZqCteDLek": "{{2.abTesting}}",
                                    "fldlwqRnJt2WDcDT2": "{{2.sendAtBestTime}}",
                                    "fldhP9NZGmIvNdsZS": "{{2.sentDate}}",
                                    "fldp7W9sDsJEa3p6t": "{{2.name}}",
                                    "fld6HHQfuY7hnQ5Xu": "{{35.link}}",
                                    "fldSmUwsieCl1BwRa": "{{35.`nombre lista envio`}}",
                                    "fldqvLKqeNboCUket": "{{2.subject}}",
                                    "fldL9c7We3mnoebmC": "{{2.statistics.campaignStats[].sent}}",
                                    "fldBgIaCDMnuwesky": "{{2.statistics.campaignStats[].delivered}}",
                                    "fldT1muSvVf2rezpQ": "{{2.statistics.campaignStats[].clickers}}",
                                    "fldCKkI8Yg9dcwOIz": "{{2.statistics.campaignStats[].uniqueClicks}}",
                                    "fldHwH9AdxMhqfqln": "{{2.statistics.campaignStats[].viewed}}",
                                    "fldgt07r0IoWfNkHI": "{{2.statistics.campaignStats[].uniqueViews}}",
                                    "fldxeLX9zwEBgF1hj": "{{2.statistics.campaignStats[].unsubscriptions}}",
                                    "fldypRIQM7eHFbCLi": "{{2.statistics.campaignStats[].hardBounces}}",
                                    "fldTbb4gXSvOvYdPo": "{{2.statistics.campaignStats[].softBounces}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1805,
                                    "y": 135
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Nemeda Airtable",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "label": "LaSoci - reports EMAIL"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "label": "SENDINBLUE REPORT"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldu0gvZzktc1uuWF": {
                                                    "mode": "edit"
                                                },
                                                "fldFngjaZqCteDLek": {
                                                    "mode": "edit"
                                                },
                                                "fldlwqRnJt2WDcDT2": {
                                                    "mode": "edit"
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "recordId",
                                        "type": "text",
                                        "label": "Record ID"
                                    },
                                    {
                                        "name": "record",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "fld8JISwK3JhC0Rhr",
                                                "type": "number",
                                                "label": "Campaign ID"
                                            },
                                            {
                                                "name": "fldu0gvZzktc1uuWF",
                                                "type": "select",
                                                "label": "Campaing ID",
                                                "mode": "edit"
                                            },
                                            {
                                                "name": "fld09uoR6uC3DXZRG",
                                                "type": "text",
                                                "label": "is actiu"
                                            },
                                            {
                                                "name": "fldjPTBgi0Z43lUVz",
                                                "type": "number",
                                                "label": "device_mac_unique_view"
                                            },
                                            {
                                                "name": "fldK7L8VSBiefgG2J",
                                                "type": "number",
                                                "label": "device_iphone_unique_view"
                                            },
                                            {
                                                "name": "fldXTziJU7C1jcxQT",
                                                "type": "number",
                                                "label": "device_android_unique_view"
                                            },
                                            {
                                                "name": "flduS37Ma404JcpBa",
                                                "type": "number",
                                                "label": "device_ipad_unique_view"
                                            },
                                            {
                                                "name": "fldvdtuT7VaR9OOPI",
                                                "type": "number",
                                                "label": "device_androidtablet_unique_view"
                                            },
                                            {
                                                "name": "fldiDIqPMA7NT16FY",
                                                "type": "number",
                                                "label": "device_windows_unique_view"
                                            },
                                            {
                                                "name": "fldKO3HczdzfeYbXR",
                                                "type": "number",
                                                "label": "device_other_unique_view"
                                            },
                                            {
                                                "name": "fldFngjaZqCteDLek",
                                                "type": "boolean",
                                                "label": "AB testing"
                                            },
                                            {
                                                "name": "fldlwqRnJt2WDcDT2",
                                                "type": "boolean",
                                                "label": "Sent at best time"
                                            },
                                            {
                                                "name": "fldhP9NZGmIvNdsZS",
                                                "type": "date",
                                                "label": "Sending date",
                                                "time": false
                                            },
                                            {
                                                "name": "fldp7W9sDsJEa3p6t",
                                                "type": "text",
                                                "label": "Campaign Name"
                                            },
                                            {
                                                "name": "fld6HHQfuY7hnQ5Xu",
                                                "type": "url",
                                                "label": "link campanya"
                                            },
                                            {
                                                "name": "fldSmUwsieCl1BwRa",
                                                "type": "text",
                                                "label": "Lista envio"
                                            },
                                            {
                                                "name": "fldqvLKqeNboCUket",
                                                "type": "text",
                                                "label": "Subject"
                                            },
                                            {
                                                "name": "fldL9c7We3mnoebmC",
                                                "type": "number",
                                                "label": "Sent"
                                            },
                                            {
                                                "name": "fldBgIaCDMnuwesky",
                                                "type": "number",
                                                "label": "Delivered"
                                            },
                                            {
                                                "name": "fldT1muSvVf2rezpQ",
                                                "type": "number",
                                                "label": "Clickers"
                                            },
                                            {
                                                "name": "fldCKkI8Yg9dcwOIz",
                                                "type": "number",
                                                "label": "Unique clicks"
                                            },
                                            {
                                                "name": "fldHwH9AdxMhqfqln",
                                                "type": "number",
                                                "label": "Viewed"
                                            },
                                            {
                                                "name": "fldgt07r0IoWfNkHI",
                                                "type": "number",
                                                "label": "Unique views"
                                            },
                                            {
                                                "name": "fld135q9Uq8J9kAFx",
                                                "type": "number",
                                                "label": "Trackable views"
                                            },
                                            {
                                                "name": "fldxeLX9zwEBgF1hj",
                                                "type": "number",
                                                "label": "Unsubscriptions"
                                            },
                                            {
                                                "name": "fldypRIQM7eHFbCLi",
                                                "type": "number",
                                                "label": "Hard bounces"
                                            },
                                            {
                                                "name": "fldTbb4gXSvOvYdPo",
                                                "type": "number",
                                                "label": "Soft bounces"
                                            }
                                        ]
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Campaign ID",
                                        "label": "Campaign ID",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Campaing ID",
                                        "label": "Campaing ID",
                                        "type": "text"
                                    },
                                    {
                                        "name": "is actiu",
                                        "label": "is actiu",
                                        "type": "text"
                                    },
                                    {
                                        "name": "device_mac_unique_view",
                                        "label": "device_mac_unique_view",
                                        "type": "number"
                                    },
                                    {
                                        "name": "device_iphone_unique_view",
                                        "label": "device_iphone_unique_view",
                                        "type": "number"
                                    },
                                    {
                                        "name": "device_android_unique_view",
                                        "label": "device_android_unique_view",
                                        "type": "number"
                                    },
                                    {
                                        "name": "device_ipad_unique_view",
                                        "label": "device_ipad_unique_view",
                                        "type": "number"
                                    },
                                    {
                                        "name": "device_androidtablet_unique_view",
                                        "label": "device_androidtablet_unique_view",
                                        "type": "number"
                                    },
                                    {
                                        "name": "device_windows_unique_view",
                                        "label": "device_windows_unique_view",
                                        "type": "number"
                                    },
                                    {
                                        "name": "device_other_unique_view",
                                        "label": "device_other_unique_view",
                                        "type": "number"
                                    },
                                    {
                                        "name": "devices_DESKTOP",
                                        "label": "devices_DESKTOP",
                                        "type": "text"
                                    },
                                    {
                                        "name": "devices_MOBILE",
                                        "label": "devices_MOBILE",
                                        "type": "text"
                                    },
                                    {
                                        "name": "AB testing",
                                        "label": "AB testing",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "Sent at best time",
                                        "label": "Sent at best time",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "IDIOMA",
                                        "label": "IDIOMA",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Sending date",
                                        "label": "Sending date",
                                        "type": "date",
                                        "time": false
                                    },
                                    {
                                        "name": "Mes any",
                                        "label": "Mes any",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Campaign Name",
                                        "label": "Campaign Name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "link campanya",
                                        "label": "link campanya",
                                        "type": "url"
                                    },
                                    {
                                        "name": "Lista envio",
                                        "label": "Lista envio",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Subject",
                                        "label": "Subject",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Sent",
                                        "label": "Sent",
                                        "type": "number"
                                    },
                                    {
                                        "name": "CLICK RATE",
                                        "label": "CLICK RATE",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Views RATE",
                                        "label": "Views RATE",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Delivered",
                                        "label": "Delivered",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Clickers",
                                        "label": "Clickers",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Unique clicks",
                                        "label": "Unique clicks",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Viewed",
                                        "label": "Viewed",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Unique views",
                                        "label": "Unique views",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Trackable views",
                                        "label": "Trackable views",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Unsubscriptions",
                                        "label": "Unsubscriptions",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Hard bounces",
                                        "label": "Hard bounces",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Soft bounces",
                                        "label": "Soft bounces",
                                        "type": "number"
                                    },
                                    {
                                        "name": "devices_APPLE",
                                        "label": "devices_APPLE",
                                        "type": "text"
                                    },
                                    {
                                        "name": "devices_ANDROID",
                                        "label": "devices_ANDROID",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Unsubscriptions RATE",
                                        "label": "Unsubscriptions RATE",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Bounces RATE",
                                        "label": "Bounces RATE",
                                        "type": "text"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 40,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 540004
                            },
                            "filter": {
                                "name": "NO EXISTE",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.`__IMTLENGTH__`}}",
                                            "o": "number:equal",
                                            "b": "0"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appboUbs60npt1ogu",
                                "typecast": false,
                                "useColumnId": false,
                                "table": "SENDINBLUE REPORT",
                                "record": {
                                    "fld8JISwK3JhC0Rhr": "{{2.id}}",
                                    "fldjPTBgi0Z43lUVz": "{{35.mac}}",
                                    "fldK7L8VSBiefgG2J": "{{35.iphone}}",
                                    "fldXTziJU7C1jcxQT": "{{35.android}}",
                                    "flduS37Ma404JcpBa": "{{35.ipad}}",
                                    "fldvdtuT7VaR9OOPI": "{{35.androidtablet}}",
                                    "fldiDIqPMA7NT16FY": "{{35.windows}}",
                                    "fldKO3HczdzfeYbXR": "{{35.otherSO}}",
                                    "fldFngjaZqCteDLek": "{{2.abTesting}}",
                                    "fldlwqRnJt2WDcDT2": "{{2.sendAtBestTime}}",
                                    "fldhP9NZGmIvNdsZS": "{{2.sentDate}}",
                                    "fldp7W9sDsJEa3p6t": "{{2.name}}",
                                    "fld6HHQfuY7hnQ5Xu": "{{35.link}}",
                                    "fldSmUwsieCl1BwRa": "{{35.`nombre lista envio`}}",
                                    "fldqvLKqeNboCUket": "{{2.subject}}",
                                    "fldL9c7We3mnoebmC": "{{2.statistics.globalStats.sent}}",
                                    "fldBgIaCDMnuwesky": "{{2.statistics.campaignStats[].delivered}}",
                                    "fldT1muSvVf2rezpQ": "{{2.statistics.globalStats.clickers}}",
                                    "fldCKkI8Yg9dcwOIz": "{{2.statistics.globalStats.uniqueViews}}",
                                    "fldHwH9AdxMhqfqln": "{{2.statistics.globalStats.viewed}}",
                                    "fldgt07r0IoWfNkHI": "{{2.statistics.globalStats.uniqueViews}}",
                                    "fld135q9Uq8J9kAFx": "{{2.statistics.globalStats.trackableViews}}",
                                    "fldxeLX9zwEBgF1hj": "{{2.statistics.globalStats.unsubscriptions}}",
                                    "fldypRIQM7eHFbCLi": "{{3.statistics.globalStats.hardBounces}}",
                                    "fldTbb4gXSvOvYdPo": "{{2.statistics.globalStats.softBounces}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1779,
                                    "y": 476
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Nemeda Airtable",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "label": "LaSoci - reports EMAIL"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fld8JISwK3JhC0Rhr",
                                                            "type": "number",
                                                            "label": "Campaign ID"
                                                        },
                                                        {
                                                            "name": "fldjPTBgi0Z43lUVz",
                                                            "type": "number",
                                                            "label": "device_mac_unique_view"
                                                        },
                                                        {
                                                            "name": "fldK7L8VSBiefgG2J",
                                                            "type": "number",
                                                            "label": "device_iphone_unique_view"
                                                        },
                                                        {
                                                            "name": "fldXTziJU7C1jcxQT",
                                                            "type": "number",
                                                            "label": "device_android_unique_view"
                                                        },
                                                        {
                                                            "name": "flduS37Ma404JcpBa",
                                                            "type": "number",
                                                            "label": "device_ipad_unique_view"
                                                        },
                                                        {
                                                            "name": "fldvdtuT7VaR9OOPI",
                                                            "type": "number",
                                                            "label": "device_androidtablet_unique_view"
                                                        },
                                                        {
                                                            "name": "fldiDIqPMA7NT16FY",
                                                            "type": "number",
                                                            "label": "device_windows_unique_view"
                                                        },
                                                        {
                                                            "name": "fldKO3HczdzfeYbXR",
                                                            "type": "number",
                                                            "label": "device_other_unique_view"
                                                        },
                                                        {
                                                            "name": "fldFngjaZqCteDLek",
                                                            "type": "boolean",
                                                            "label": "AB testing"
                                                        },
                                                        {
                                                            "name": "fldlwqRnJt2WDcDT2",
                                                            "type": "boolean",
                                                            "label": "Sent at best time"
                                                        },
                                                        {
                                                            "name": "fldhP9NZGmIvNdsZS",
                                                            "time": false,
                                                            "type": "date",
                                                            "label": "Sending date"
                                                        },
                                                        {
                                                            "name": "fldp7W9sDsJEa3p6t",
                                                            "type": "text",
                                                            "label": "Campaign Name"
                                                        },
                                                        {
                                                            "name": "fld6HHQfuY7hnQ5Xu",
                                                            "type": "url",
                                                            "label": "link campanya"
                                                        },
                                                        {
                                                            "name": "fldSmUwsieCl1BwRa",
                                                            "type": "text",
                                                            "label": "Lista envio"
                                                        },
                                                        {
                                                            "name": "fldqvLKqeNboCUket",
                                                            "type": "text",
                                                            "label": "Subject"
                                                        },
                                                        {
                                                            "name": "fldL9c7We3mnoebmC",
                                                            "type": "number",
                                                            "label": "Sent"
                                                        },
                                                        {
                                                            "name": "fldBgIaCDMnuwesky",
                                                            "type": "number",
                                                            "label": "Delivered"
                                                        },
                                                        {
                                                            "name": "fldT1muSvVf2rezpQ",
                                                            "type": "number",
                                                            "label": "Clickers"
                                                        },
                                                        {
                                                            "name": "fldCKkI8Yg9dcwOIz",
                                                            "type": "number",
                                                            "label": "Unique clicks"
                                                        },
                                                        {
                                                            "name": "fldHwH9AdxMhqfqln",
                                                            "type": "number",
                                                            "label": "Viewed"
                                                        },
                                                        {
                                                            "name": "fldgt07r0IoWfNkHI",
                                                            "type": "number",
                                                            "label": "Unique views"
                                                        },
                                                        {
                                                            "name": "fld135q9Uq8J9kAFx",
                                                            "type": "number",
                                                            "label": "Trackable views"
                                                        },
                                                        {
                                                            "name": "fldxeLX9zwEBgF1hj",
                                                            "type": "number",
                                                            "label": "Unsubscriptions"
                                                        },
                                                        {
                                                            "name": "fldypRIQM7eHFbCLi",
                                                            "type": "number",
                                                            "label": "Hard bounces"
                                                        },
                                                        {
                                                            "name": "fldTbb4gXSvOvYdPo",
                                                            "type": "number",
                                                            "label": "Soft bounces"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ],
                                            "label": "SENDINBLUE REPORT"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldFngjaZqCteDLek": {
                                                    "mode": "edit"
                                                },
                                                "fldlwqRnJt2WDcDT2": {
                                                    "mode": "edit"
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "fld8JISwK3JhC0Rhr",
                                                "type": "number",
                                                "label": "Campaign ID"
                                            },
                                            {
                                                "name": "fldjPTBgi0Z43lUVz",
                                                "type": "number",
                                                "label": "device_mac_unique_view"
                                            },
                                            {
                                                "name": "fldK7L8VSBiefgG2J",
                                                "type": "number",
                                                "label": "device_iphone_unique_view"
                                            },
                                            {
                                                "name": "fldXTziJU7C1jcxQT",
                                                "type": "number",
                                                "label": "device_android_unique_view"
                                            },
                                            {
                                                "name": "flduS37Ma404JcpBa",
                                                "type": "number",
                                                "label": "device_ipad_unique_view"
                                            },
                                            {
                                                "name": "fldvdtuT7VaR9OOPI",
                                                "type": "number",
                                                "label": "device_androidtablet_unique_view"
                                            },
                                            {
                                                "name": "fldiDIqPMA7NT16FY",
                                                "type": "number",
                                                "label": "device_windows_unique_view"
                                            },
                                            {
                                                "name": "fldKO3HczdzfeYbXR",
                                                "type": "number",
                                                "label": "device_other_unique_view"
                                            },
                                            {
                                                "name": "fldFngjaZqCteDLek",
                                                "type": "boolean",
                                                "label": "AB testing"
                                            },
                                            {
                                                "name": "fldlwqRnJt2WDcDT2",
                                                "type": "boolean",
                                                "label": "Sent at best time"
                                            },
                                            {
                                                "name": "fldhP9NZGmIvNdsZS",
                                                "type": "date",
                                                "label": "Sending date",
                                                "time": false
                                            },
                                            {
                                                "name": "fldp7W9sDsJEa3p6t",
                                                "type": "text",
                                                "label": "Campaign Name"
                                            },
                                            {
                                                "name": "fld6HHQfuY7hnQ5Xu",
                                                "type": "url",
                                                "label": "link campanya"
                                            },
                                            {
                                                "name": "fldSmUwsieCl1BwRa",
                                                "type": "text",
                                                "label": "Lista envio"
                                            },
                                            {
                                                "name": "fldqvLKqeNboCUket",
                                                "type": "text",
                                                "label": "Subject"
                                            },
                                            {
                                                "name": "fldL9c7We3mnoebmC",
                                                "type": "number",
                                                "label": "Sent"
                                            },
                                            {
                                                "name": "fldBgIaCDMnuwesky",
                                                "type": "number",
                                                "label": "Delivered"
                                            },
                                            {
                                                "name": "fldT1muSvVf2rezpQ",
                                                "type": "number",
                                                "label": "Clickers"
                                            },
                                            {
                                                "name": "fldCKkI8Yg9dcwOIz",
                                                "type": "number",
                                                "label": "Unique clicks"
                                            },
                                            {
                                                "name": "fldHwH9AdxMhqfqln",
                                                "type": "number",
                                                "label": "Viewed"
                                            },
                                            {
                                                "name": "fldgt07r0IoWfNkHI",
                                                "type": "number",
                                                "label": "Unique views"
                                            },
                                            {
                                                "name": "fld135q9Uq8J9kAFx",
                                                "type": "number",
                                                "label": "Trackable views"
                                            },
                                            {
                                                "name": "fldxeLX9zwEBgF1hj",
                                                "type": "number",
                                                "label": "Unsubscriptions"
                                            },
                                            {
                                                "name": "fldypRIQM7eHFbCLi",
                                                "type": "number",
                                                "label": "Hard bounces"
                                            },
                                            {
                                                "name": "fldTbb4gXSvOvYdPo",
                                                "type": "number",
                                                "label": "Soft bounces"
                                            }
                                        ]
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Campaign ID",
                                        "label": "Campaign ID",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Campaing ID",
                                        "label": "Campaing ID",
                                        "type": "text"
                                    },
                                    {
                                        "name": "is actiu",
                                        "label": "is actiu",
                                        "type": "text"
                                    },
                                    {
                                        "name": "device_mac_unique_view",
                                        "label": "device_mac_unique_view",
                                        "type": "number"
                                    },
                                    {
                                        "name": "device_iphone_unique_view",
                                        "label": "device_iphone_unique_view",
                                        "type": "number"
                                    },
                                    {
                                        "name": "device_android_unique_view",
                                        "label": "device_android_unique_view",
                                        "type": "number"
                                    },
                                    {
                                        "name": "device_ipad_unique_view",
                                        "label": "device_ipad_unique_view",
                                        "type": "number"
                                    },
                                    {
                                        "name": "device_androidtablet_unique_view",
                                        "label": "device_androidtablet_unique_view",
                                        "type": "number"
                                    },
                                    {
                                        "name": "device_windows_unique_view",
                                        "label": "device_windows_unique_view",
                                        "type": "number"
                                    },
                                    {
                                        "name": "device_other_unique_view",
                                        "label": "device_other_unique_view",
                                        "type": "number"
                                    },
                                    {
                                        "name": "devices_DESKTOP",
                                        "label": "devices_DESKTOP",
                                        "type": "text"
                                    },
                                    {
                                        "name": "devices_MOBILE",
                                        "label": "devices_MOBILE",
                                        "type": "text"
                                    },
                                    {
                                        "name": "AB testing",
                                        "label": "AB testing",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "Sent at best time",
                                        "label": "Sent at best time",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "IDIOMA",
                                        "label": "IDIOMA",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Sending date",
                                        "label": "Sending date",
                                        "type": "date",
                                        "time": false
                                    },
                                    {
                                        "name": "Mes any",
                                        "label": "Mes any",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Campaign Name",
                                        "label": "Campaign Name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "link campanya",
                                        "label": "link campanya",
                                        "type": "url"
                                    },
                                    {
                                        "name": "Lista envio",
                                        "label": "Lista envio",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Subject",
                                        "label": "Subject",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Sent",
                                        "label": "Sent",
                                        "type": "number"
                                    },
                                    {
                                        "name": "CLICK RATE",
                                        "label": "CLICK RATE",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Views RATE",
                                        "label": "Views RATE",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Delivered",
                                        "label": "Delivered",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Clickers",
                                        "label": "Clickers",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Unique clicks",
                                        "label": "Unique clicks",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Viewed",
                                        "label": "Viewed",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Unique views",
                                        "label": "Unique views",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Trackable views",
                                        "label": "Trackable views",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Unsubscriptions",
                                        "label": "Unsubscriptions",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Hard bounces",
                                        "label": "Hard bounces",
                                        "type": "number"
                                    },
                                    {
                                        "name": "Soft bounces",
                                        "label": "Soft bounces",
                                        "type": "number"
                                    },
                                    {
                                        "name": "devices_APPLE",
                                        "label": "devices_APPLE",
                                        "type": "text"
                                    },
                                    {
                                        "name": "devices_ANDROID",
                                        "label": "devices_ANDROID",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Unsubscriptions RATE",
                                        "label": "Unsubscriptions RATE",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Bounces RATE",
                                        "label": "Bounces RATE",
                                        "type": "text"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}